.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 91vh;
}
.login {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
}

.imagen {
  width: clamp(100px, 10vw, 200px);
}

.logo-container {
  display: flex;
  justify-content: center;
  padding: 1rem;
}

.form-container {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  border-radius: 10px;
  height: 100%;
}

.btns-container {
  display: flex;
  justify-content: space-between;
  padding: 1rem;
}

.z-depth-1 {
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.recuerdame {
  display: flex;
  justify-content: space-between;
  width: 100%;
  text-align: center;
  padding: 1rem;
}

mat-form-field {
  width: 100%;
  margin-bottom: 0.4rem;
}

:host::ng-deep .mat-form-field-type-mat-date-range-input .mat-form-field-infix {
  width: auto;
}

.header-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1rem;
}

.icon-container {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  background-color: #3f51b5;
  padding: 1rem;
  margin-bottom: 1rem;
}
.icon-home {
  color: white;
  font-size: clamp(4.5rem, 8vw, 14rem);
  width: clamp(4.5rem, 8vw, 14rem);
  height: clamp(4.5rem, 8vw, 14rem);
  border-radius: 50%;
  background-color: transparent;
}

.title {
  font-family: "Consolas";
  font-size: clamp(2.5rem, 4vw, 8rem);
  padding: 1rem;
  color: #3f51b5;
  text-transform: uppercase;
}

.btn-restore {
  cursor: pointer;
  color: #3f51b5;
}
.btn-restore:hover {
  color: blue;
}

.spinner {
  display: flex;
  justify-content: center;
  padding: 1rem;
}

.btn-ingresar {
  background-color: green;
  margin-right: 0.5rem;
  color: white;
}
.icon-copy-container{
  display: flex;
  justify-content: center;
  align-items: center;
}

.copy-clipboard {
  color: #3f51b5;
  cursor: pointer;
  text-decoration: none;
}

.copy-clipboard:hover{
  color: blue;
}

.cel-Content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

table {
  vertical-align: middle;
}

td{
  padding: 0.5rem 1rem;
}

td > div {
  display: flex;
  align-items: center;
  height: 100%;
}

thead{
  text-align: center;
}

.copy {
  color: green;
  margin-right: 0.3rem;
  margin-left: 0.3rem;
}

.no-conrifm{
  background-color: #C2DDFF61;
}

.registrado{
  background-color: #B9E2B970;
}

.admin{
  background-color: #FFBEBE63;
}

.header{
  background-color: #3F51B5;
  color: white;
}

.celda{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.pass{
  width: 8rem;
}
