  <div class="animate fadeIn">

    <div class="info-container">
      <h1 class="m-3 title">Disposición de la accesibilidad del sitio</h1>
    </div>

    <div class="col-md-8 offset-md-2 ">
      <mat-divider class="mx-md-0 mx-3"></mat-divider>
    </div>

    <div class="descripcion col-md-8 offset-md-2">
      <p>Como puedes ver tenemos 3 niveles de seguridad:</p>
      <ul>
        <li class="alert-blue">
          <span>El primero es el <b>público</b> (en azul) en el que todos los usuarios tienen acceso a dichas páginas.</span>
        </li>
        <li class="alert-green">
          <span>
            El segundo es el <b>autenticado</b> (en verde) en el que solo usuarios registrados acceden a esas páginas.
          </span>
        </li>
        <li class="alert-red">
          <span>
            El tercero es el <b>autorizado</b> (en rojo) en el cual los usuarios no solo deben estar registrados, sino que
            también deben poseer los permisos correctos (admin) para realizar las acciones.
          </span>
        </li>
      </ul>
    </div>
  </div>

  <div class="img-container animate fadeInUp delay1">
    <img class="access-img" src="../../../../assets/images/accesibilidad.png" alt="accesibilidad del sitio">
  </div>

