<div class="container animate fadeIn">
  <h1 class="title">Sección para autenticados</h1>
  <div class="alert-info col-md-8 offset-md-2 p-2 rounded">

    <span>Esta sección esta solo disponible para <b>usuarios que esten registrados</b> y sus cuentas confirmadas.</span>
  </div>

  <div class="alert-warning col-md-8 offset-md-2 p-2 rounded mt-4">

    <span>En el menú de la izquierda puedes ver la <b>lista de categorias</b>, y puedes <b>cambiar el password</b> de la cuenta.</span>
  </div>
</div>
