

  <div class="change-pass-container animate fadeInLeft">

    <div class="form-container z-depth-1">
      <div class="header-container">
        <div class="icon-container">
          <mat-icon class="icon-home">sync_lock</mat-icon>
        </div>
        <span class="title">Cambiar password</span>
      </div>

      <ng-container *ngIf="isLoading">
        <div class="spinner">
          <mat-spinner></mat-spinner>
        </div>
      </ng-container>

      <app-show-error-list [errores]="errores"></app-show-error-list>

      <form id="registerForm" (submit)="onSubmit()" [formGroup]="form">

        <mat-form-field appearance="outline">
          <mat-label>Password Actual</mat-label>
          <input id="passActual" type="password" formControlName="passwordActual" matInput />
          <a matSuffix mat-icon-button aria-label="Clear" (click)="showPassActual()">
            <mat-icon>{{passActualIcon}}</mat-icon>
          </a>
          <mat-error>{{ obtenerMensajeErrorPasswordActual()}}</mat-error>
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label>Password Nuevo</mat-label>
          <input id="pass" type="password" formControlName="password" matInput />
          <a matSuffix mat-icon-button aria-label="Clear" (click)="showPass()">
            <mat-icon>{{passIcon}}</mat-icon>
          </a>
          <mat-error>{{ obtenerMensajeErrorPassword()}}</mat-error>
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label>Confirmación de Password Nuevo</mat-label>
          <input id="confirm" type="password" formControlName="confirm" matInput />
          <a matSuffix mat-icon-button aria-label="Clear" (click)="showConfirm()">
            <mat-icon>{{confirmIcon}}</mat-icon>
          </a>
          <mat-error>{{obtenerMensajeErrorConfirm()}}</mat-error>
        </mat-form-field>
      </form>

      <div class="btns-container">
          <button class="me-2" (click)="openDialog()" mat-flat-button color="primary"
            [disabled]="form!.invalid">
            Confirmar
          </button>
      </div>

    </div>
  </div>



