<div class="restore animate fadeIn">

  <div class="form-container z-depth-1">
    <div class="header-container">
      <div class="icon-container">
        <mat-icon class="icon-home">password</mat-icon>
      </div>
      <span class="title">Recuperar password</span>
    </div>

    <ng-container *ngIf="isLoading">
      <div class="spinner">
        <mat-spinner></mat-spinner>
      </div>
    </ng-container>

    <span id="mensaje" *ngIf="mensaje" class="alert-success p-2 rounded text-center mb-4" [innerHTML]="mensaje" ></span>

    <app-show-error-list [errores]="errores"></app-show-error-list>

    <form id="restoreForm" (submit)="onSubmit()" [formGroup]="form" #f="ngForm">

      <mat-form-field appearance="outline">
        <mat-label>Email</mat-label>
        <input type="email" formControlName="email" matInput />
        <mat-error>{{obtenerMensajeErrorEmail()}}</mat-error>
      </mat-form-field>
    </form>

    <div class="btns-container">

        <button class="me-2" type="submit" form="restoreForm" mat-flat-button class="btn-ingresar" [disabled]="form!.invalid">
          Recuperar
        </button>
        <a mat-stroked-button (click)="selectPage(routes.Login)">Volver a Login</a>

    </div>

  </div>
</div>
