<div class="container animate fadeIn">
  <h1 class="title">Sección para autorizados</h1>
  <div class="alert-info col-md-8 offset-md-2 p-2 rounded">

    <span>Esta sección esta solo disponible para usuarios que son <b>administradores</b>.</span>

  </div>

  <div class="alert-warning col-md-8 offset-md-2 p-2 rounded mt-4">

    <span>En el menú de la izquierda puedes ver la sección de <b>categorias</b>, y la de  <b>usuarios</b> donde puedes ver la lista de usuarios del sistema y <b>otorgar o revocar los permisos de administrador</b>  a los mismos.</span>
  </div>
</div>
